mixin nav-content()
     ul
                li: a(href="#about") About
                li: a(href="skills") Skillss
                li: a(href="#portfolio") Portfolio
                li: a(href="contact") Contact

//.mobile-nav.is-open
.mobile-nav
    +nav-content()

header
    .header-position
        h1.logo Manuel Docampo

        nav.site-nav
            +nav-content()

        a(href="mailto:strombolys@gmail.com").email-link +email me

        .mobile-nav-toggle: span