section.skills03
  .mainSkills3Container
    .container
      .graph
      p.ti-gd Graphic Design
      .ps-bar  
        p.ps-tx Ps
          span.perc 75%
      .ai-bar(data-percentage='90')
        p.ai-tx Ai
          span.perc 60 %
      .inde-bar
        p.inde-tx Id
          span.perc 50 %
    .container
      .graph
      p.ti-gd Video Editing
      .pr-bar
        p.pr-tx Pr
          span.perc 80%
      .ae-bar
        p.ae-tx Ae
          span.perc 60%
      .sg-bar
        p.sg-tx Sg
          span.perc 50%
