section.skills
	.flex.flex--center

		.col-2#skills
			h1(class='skills') UNIVERSITY	
			h3 Technical Engineering in Computer Management
			P "3-year university degree with a focus on Information Systems and Software Engineering"
			img.escudo(src="/assets/img/Escudo.png")
			P Comillas Pontificial University
			h3.madrid MADRID