section.about#about
    .flex.flex--center
      
        .col-1.push-right
           h2 Manuel Docampo
           h4.home-lead Front End Developer
           h4.home-lead Graphic Designer
           h4.home-lead Photogrape