section.skills
	.flex.flex--center

		.col-2
			h1 UNIVERSITY
			p Technical Engineering in computer Management
			P 3-year university degree with a focus on Information Systems and Software Engineering
			P Comillas Pontificial University
			p MADRID