section.about
    .flex.flex--center
        .col-1
           p s

        .col-1
           h2 Manuel Docampo
           h3 Graphic Designer
           h4.home-lead Web Developer
           h4.home-lead Photograper