section.skills02
 .flex.flex--space-around 
  .mainmaincontainer
   .maincontainer
    .progress-container(onclick='css3RadialProgressBar()')
      p#progreso Cick to view
      #progress-circle.progress-circle(aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
        span.p-h
        span.p-f

        span#progress
          img.ima(src='https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png')
    style#progress-style(type='text/css').

    
   .maincontainer01
    .progress-container01(onclick='css3RadialProgressBar01()')
      p#progreso01 Cick to view
      #progress-circle01.progress-circle01(aria-valuenow01='0', aria-valuemin01='0', aria-valuemax01='100')
        span.p-h01
        span.p-f01
        |  
        span#progress01
          img.ima01(src='https://logo-png.com/logos/css3-logo.png')
    style#progress-style01(type='text/css').
  
   .maincontainer02
    .progress-container02(onclick='css3RadialProgressBar02()')
      p#progreso02 Cick to view
      #progress-circle02.progress-circle02(aria-valuenow01='0', aria-valuemin02='0', aria-valuemax02='100')
        span.p-h02
        span.p-f02
        |  
        span#progress02
          img.ima02(src='https://www.javacodegeeks.com/wp-content/uploads/2016/01/javascript-shield.png')
    style#progress-style02(type='text/css').



        
