section.about
	background:
		image: url(../img/about-bg.jpg)
		position: center
		size: cover
	    //color: #8f8a8b

	h2
		color: #8f8a8b
		font:
			size: 50px
			weight: 400
		line-height: 1
		margin-left: -180px
		margin-top: 0px
		text-align: right

	.home-lead
		color: #8f8a8b
		padding-bottom: 0px
		text-align: right

@media (max-width: 640px)
	section.about
		background: url(../img/about-bg640.jpg)
		position: cover
		h2, .home-lead
			line-height: 1
			max-width: 800px
			color: white
			text-align: center
			margin-left: auto
